{% load rango_template_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
		Rango - 
		{% block title_block %}
			Tango With Django
		{% endblock %}
	</title>
	<style type="text/css" script="{% static "javascript/script.js"%}"></style>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div>
		{% block body_block %}
		{% endblock %}
	</div>
	<div>
		{% block sidebar_block %}
			{% get_category_list category %}
		{% endblock %}
	</div>
	<div id="foot">
		<div>
			<a href="{% url 'rango:about' %}">About</a>
		</div>
		<div>
			<a href="{% url 'rango:index' %}">Home</a>
		</div>
		<div>
			<a href="{% url 'rango:register' %}">Register Here</a>
		</div>
	</div>
</body>
</html>