{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	{{category.name}}
{% endblock %}
{% block body_block %}
	<div>
	{% if category %}
		<h1 class="text-center" >{{category.name}}</h1>
		{% if pages %}
			<ul style="display: table; margin: 0 auto;">
			{% for page in pages %}
				<li><a href="{{page.url}}">{{page.title}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<h3 class="text-center">{{category.name}} has no pages</h3>
		{% endif %}
		<br>
		<div class="text-center">
			<a class="btn btn-outline-danger" href="{% url 'rango:add_page' category.slug %}">Add Page
			</a>
		</div>
		{% else %}
		<h1>Invalid Category</h1>
	{% endif %}
	</div>
{% endblock %}