{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	Home Page
{% endblock %}

{% block body_block%}
	<div class="jumbotron text-center">
		<h1>Rango says Hey there 
			{% if user.is_authenticated %}
				<strong>{{user.username}}</strong>
			{% else %}
				Partner
			{% endif %}
		</h1>
	</div> 

	<div class="row">
		<div class="col-sm-6">
			{% if categories %}
				<h3 class="text-center">Top Categories</h3>
				<ul>
					{% for cat in categories %}
						<li>
							<a href="{% url 'rango:category' cat.slug %}">{{cat.name}}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<h3 class="text-center">No Categories Present</h3>
			{% endif %}
			<div class="text-center">
				<a class="btn btn-outline-primary text-center" href="{% url 'rango:add_category' %}">Add Category</a><br>
			</div>
		</div>
		<div class="col-sm-6">
			{% if pages %}
				<h3 class="text-center">Top Pages</h3>
				<ul>
					{% for page in pages %}
						<li>
							<a href="{{page.url}}">{{page.title}}</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<h3 class="text-center">No Pages Present</h3>
			{% endif %}	
		</div>
	</div>
	<br>
	<div class="text-center">
		<img class="img-fluid rounded-circle" src="{% static "images/avengers.jpg" %}"
alt="Picture of Avengers"/>
	</div>
{% endblock %}