<!DOCTYPE html>

{% load static %}

<html>
<head>
	<title>Rango</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
	<script type="text/javascript" src="{% static "javascript/script.js"%}"></script>
</head>
<body>
	<h1>Rango says...</h1>
	<div>
		hey there partner!<br>
	</div>

	<div style="float: left; width: 50%">
	{% if categories %}
		<h2>Most Liked Categories</h2>
		<div>
			<table>
				<tr>
					<th>Category</th><th>Likes</th>
				</tr>
				{% for cat in categories%}
					<tr>
						<td><a href="/rango/category/{{cat.slug}}">{{cat.name}}</a></td><td>{{cat.likes}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		<h2>There are no categories present</h2>
	{% endif %}
		<button><a href="/rango/add_category">Add a Category</a></button>
	</div>
	<div style="float: left; width: 50%">
	{% if pages %}
		<h2>Most Viewed Pages</h2>
		<table>
			<tr>
				<th>Page Title</th><th>Total Views</th>
			</tr>
			{% for page in pages %}
				<tr>
					<td><a href="{{page.url}}">{{page.title}}</a></td>
					<td>{{page.views}}</td>
				</tr>
		{% endfor %}
		</table>
	{% else %}
		<h2>There are no pages</h2>
	{% endif %}
	<br><br>
	</div>
	<div>
		<img src="{% static "images/avengers.jpg" %}"
alt="Picture of Rango" style="margin-top: 10px;" />
	</div>
	<div>
		<a href="/rango/about">About</a><br>
	</div>
</body>
</html>