{% extends 'myblog/base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<h1 class="jumbotron text-center" style="font-family: Lobster;">Register for Blogs!!</h1>
	<div style="display: table; margin: 0 auto;">
		<form method="POST" action="{% url 'myblog:register' %}">
			{% csrf_token %}
			<table>
				{{ user_form.as_table }}
			</table>
			<br>
			<input type="submit" name="submit" class="btn btn-success" value="Signup">
		</form>
	</div>
{% endblock %}