
* {
	text-align: center;
	font-family: Helvetica ,sans-serif;
}

body {
	background-color: teal;
}

img {
	border: 2px solid black;
	width: 500px;
	height: 500px;
}

div {
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: darkblue;
}

a:hover {
	color: blue;
}

ul {
	list-style-type: disc;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: grey;
  color: white;
  text-align: center;
}

#foot > div {
	float: left;
	width: 50%;
}